<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <%- include('../pages/divs/jumbotron'); %>
  <%- include('../pages/divs/feed'); %>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>